@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


html, body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: antiquewhite;
}

.header-text
{
    font-family: 'Crete Round', serif;
    font-size: 42px;
}

#center-div
{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 45%;
    

}

.item
{
    margin-top: 2%;
    width: 80%; /*  -> 100% on current */
    min-width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 15px;

    box-shadow: 0 0 7px;
    padding: 10px; /*  -> 20px on current */

    vertical-align: middle;    

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
    transition: all 0.4s;
}

.item:hover
{
    background-color: rgba(168, 168, 168);

}

.spot
{
    color: white;
    font-weight: bolder;
    border-radius: 50%;
    background-color: firebrick;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  

    margin-top: auto;
    margin-bottom: auto;

    display: inline-block;
}

.name
{
    margin: 10px;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
}

.pay-type
{
    margin: 10px;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;

    float: right;
}

#queue
{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
}

#prevQueue
{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 100%;   
}

#prev-div
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    overflow: auto;
}

#sidebar
{
    width:80px;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(13, 14, 20);
}

#sidebar .button
{
    height: 80px;
    width: 100%;
    background-color: rgb(28, 30, 41);

    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: white;
}

#sidebar .button:hover
{
    background-color: rgb(70, 76, 104);

}

.new-order-bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.555);
}

.new-order-dialog
{
    position: absolute;
    width: unset;
    padding: 20px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    top: unset;
    left: unset;
    display: flex;

    box-sizing: border-box;
    box-shadow: 0 0 7px;

}

.spot-dialog
{
    position: absolute;
    width:fit-content;
    max-width: 20%;
    height: fit-content;
    padding: 10px;

    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 7px;

}

.exit-button
{
    position: fixed;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 30px;
    margin: 2%;
    border-radius: 50%;

    vertical-align: middle;
    text-align: center;
    line-height: 40px;

    box-shadow: 0 0 7px;

    transition: background-color .25s;

}

.exit-button:hover
{
    background-color: rgb(221, 221, 221);

}

#add-note-button
{
    position: fixed;
    width: 100px;
    height: 40px;
    top: 0px;
    right: 0px;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 20px;
    margin: 2%;
    border-radius: 10px;

    vertical-align: middle;
    text-align: center;
    line-height: 40px;

    box-shadow: 0 0 7px;

    transition: background-color .25s;

}

#add-note-button:hover
{
    background-color: rgb(221, 221, 221);

}

#notes-div
{
    height: 100%;
    position: fixed;
    width: 20%;
    right: -20%;
    top: 0px;
    
    background-color: white;
    box-shadow: 0 0 7px;

    transition: all 0.5s;
}